/* td{
  height: 150px;
  width: 150px;
  text-align: center;
  border: 5px solid black;
  font-size: 90px;
} */

body{
background-color: black;
}

td{
background-color:gray;
height:60px;
width:60px;
border-radius:50%;
text-align:center
}
